<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
        <title>Authorization</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    </head>

    <body>
        <section class="home">
            <h1 class="error_msg"></h1>
            <div class="form_container">
                <a th:href="@{/}"><i class="uil uil-times form_close"></i></a>
                <!-- Login From -->
                <div class="form login_form">
                    <!--/*@thymesVar id="userLogin" type="bank.dto.UserLogin"*/-->
                    <form action="#" th:action="@{/auth/login}" th:object="${userLogin}" method="post">
                        <h2>Login</h2>

                        <div class="input_box">
                            <input type="email" name="email" placeholder="Enter your email" required th:field="*{email}"/>
                            <i class="uil uil-envelope-alt email"></i>
                        </div>

                        <div class="input_box">
                            <input type="password" name="password" id="login_password" placeholder="Enter your password" required th:field="*{password}"/>
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide" id="login_hide"></i>
                        </div>

                        <div class="input_box">
                            <input type="tel" name="phone_number" placeholder="Enter your phone number" required th:field="*{phoneNumber}"/>
                        </div>

                        <div class="option_field">
                            <span class="checkbox">
                            <input type="checkbox" id="check" />
                            <label for="check">Remember me</label>
                            </span>
                            <a class="forgot_pw">Forgot password?</a>
                        </div>

                        <button class="button">Login Now</button>

                        <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
                    </form>
                </div>

                <!-- Signup From -->
                <div class="form signup_form">
                    <!--/*@thymesVar id="userForm" type="bank.dto.UserForm"*/-->
                    <form action="#" th:action="@{/auth/signup}" th:object="${userForm}" method="post">
                        <h2>Signup</h2>

                        <div class="input_box">
                            <input type="email" name="email" placeholder="Enter your email" required th:field="*{email}"/>
                            <small class="invalid_field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</small>
                            <i class="uil uil-envelope-alt email"></i>
                        </div>

                        <div class="input_box">
                            <input type="text" name="firstname" placeholder="Enter your firstname" required th:field="*{firstname}"/>
                            <small class="invalid_field" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First name error</small>
                        </div>

                        <div class="input_box">
                            <input type="text" name="lastname" placeholder="Enter your lastname" required th:field="*{lastname}"/>
                            <small class="invalid_field" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last name error</small>
                        </div>

                        <div class="input_box">
                            <input type="password" name="password" id="signup_password" placeholder="Create password" required
                                   th:field="*{password}"/>
                            <i class="uil uil-lock password"></i>
                            <i class="uil uil-eye-slash pw_hide" id="signup_hide"></i>
                            <small class="invalid_field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</small>
                        </div>

                        <div class="input_box">
                            <input type="tel" name="phone_number" placeholder="Enter your phone number" required th:field="*{phoneNumber}"/>
                            <small class="invalid_field" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</small>
                        </div>

                        <button class="button">Signup Now</button>

                        <div class="login_signup">Already have an account? <a id="login">Login</a></div>
                    </form>
                </div>

            </div>
        </section>

        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>

</html>