<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
        <title>Bank</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <style>

            .form_container.deposit {
                left: 20%;
            }

            .form_container.withdrawal {
                left: 80%;
            }
        </style>
    </head>

    <body>

        <!-- Header -->
        <div th:replace="~{html/header ::header}"></div>

        <!-- Home -->
        <section class="home">

            <h1 class="msg" th:text="'Your balance is: ' + ${account.balance}"></h1>

            <div class="form_container deposit">
                <!-- Deposit -->
                <div class="form">
                    <!--/*@thymesVar id="transaction" type="bank.domain.Transaction"*/-->
                    <form action="#" method="post" th:object="${transaction}" th:action="@{/bank/deposit/{id}(id=${account.id})}">
                        <h2>Make Deposit</h2>

                        <div class="input_box">
                            <input type="number" name="money_amount" placeholder="Enter amount of money" th:field="*{moneyAmount}"/>
                        </div>

                        <div class="input_box">
                            <input type="text" name="transaction_msg" placeholder="Enter message" th:field="*{msg}"/>
                        </div>

                        <div class="input_box">
                            <input type="text" name="transaction_type" placeholder="Enter transaction type" th:field="*{transactionType}"/>
                        </div>

                        <button class="button">Make deposit</button>

                        <ul style="color: red; margin-top: 20px;">
                            <div th:if="${#fields.hasErrors('all')}">
                                <h1>Cannot Make Deposit</h1>
                                <li th:errors="*{transactionType}">Transaction type error</li>
                                <li th:errors="*{msg}">Message error error</li>
                                <li th:errors="*{moneyAmount}">Money Amount error</li>
                            </div>
                        </ul>

                    </form>
                </div>
            </div>

            <div class="form_container withdrawal">
                <div class="form">
                    <!--/*@thymesVar id="transaction" type="bank.domain.Transaction"*/-->
                    <form action="#" method="post" th:object="${transaction}" th:action="@{/bank/withdrawal/{id}(id=${account.id})}">
                        <h2>Make Withdrawal</h2>

                        <div class="input_box">
                            <input type="number" name="money_amount" placeholder="Enter amount of money" th:field="*{moneyAmount}"/>
                        </div>

                        <div class="input_box">
                            <input type="text" name="transaction_msg" placeholder="Enter message" th:field="*{msg}"/>
                        </div>

                        <div class="input_box">
                            <input type="text" name="transaction_type" placeholder="Enter transaction type" th:field="*{transactionType}"/>
                        </div>

                        <button class="button">Make Withdrawal</button>

                        <ul style="color: red; margin-top: 20px;">
                            <div th:if="${#fields.hasErrors('all')}">
                                <h1>Cannot Make Withdrawal</h1>
                                <li th:errors="*{transactionType}">Transaction type error</li>
                                <li th:errors="*{msg}">Message error error</li>
                                <li th:errors="*{moneyAmount}">Money Amount error</li>
                            </div>
                        </ul>

                    </form>
                </div>
            </div>

        </section>

    </body>
</html>
