<header class="header">
    <nav class="nav">
        <a th:href="@{/}" class="nav_logo">CodingLab</a>

        <ul class="nav_items">
            <li class="nav_item">
                <a th:href="@{/user}" class="nav_link">Profile</a>
                <a th:href="@{/bank}" class="nav_link">Services</a>
                <a th:href="@{/transactions}" class="nav_link">Transactions</a>
            </li>
        </ul>

        <a th:href="@{/auth }" class="button" id="form-open">Login</a>
    </nav>
</header>