<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:temporals="http://www.thymeleaf.org/extras/thymeleaf-temporals">

    <head>
        <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <!-- Unicons -->
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
            <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <title>Transactions</title>
    </head>

    <body>

        <!-- Header -->
        <div th:replace="~{html/header ::header}"></div>

        <!-- Home -->
        <section class="home">

            <table>
                <thead>
                    <th>Message</th>
                    <th>Amount of Money</th>
                    <th>Type</th>
                    <th>Transaction Date</th>
                </thead>
                <tbody>
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${transaction.msg}"></td>
                        <td th:text="${transaction.moneyAmount}"></td>
                        <td th:text="${transaction.type}"></td>
                        <td th:text="${#temporals.format(transaction.transactionDate, 'dd LLLL yyyy HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>

        </section>

    </body>
</html>
